<div class="container">
    <main>
        <form action="/ShoesSystem/updCalcado/{{shoe._id}}" method="post">
            <section>
                <h2>Nome:</h2>
                <input type="text" id="name" name="name" value="{{shoe.name}}" readonly>
            </section>
            <section>
                <h2>Gênero:</h2>
                <input id="gender" name="gender" value="{{shoe.gender}}" readonly>
            </section>
            <section>
                <h2>Cor:</h2>
                <input type="text" id="color" name="color" value="{{shoe.color}}" readonly>
            </section>
            <section>
                <h2>Tamanho:</h2>
                <input type="text" id="size" name="size" value="{{shoe.size}}" readonly>
            </section>
            <section>
                <h2>Categoria:</h2>
                <input id="category" name="category" value="{{shoe.category.name}}" readonly>
            </section>
            <section>
                <h2>Marca:</h2>
                 <input id="brand" name="brand" value= "{{shoe.brand}}" readonly>
                </select>
            </section>
            <section>
                <h2>Preço:</h2>
                <input type="text" id="price" name="price" value="{{shoe.totalPrice}}" readonly>
            </section>
            <section>
                <h2>Quantidade:</h2>
                <input type="number" id="quantity" name="quantity" value="{{shoe.quantity}}" min="1" required>
            </section>
            <section>
                <div class="actions">
                    <button type="submit" class="btn btn-submit">Atualizar</button>
                    <button class="btn btn-back" onclick="window.location.href='/ShoesSystem/home'">Voltar</button>
                </div>
            </section>
        </form>
    </main>
</div>

<script>
    // Obtém os elementos de quantidade e preço
    const quantityInput = document.getElementById("quantity");
    const priceInput = document.getElementById("price");

    // Define o preço unitário
    const unitPrice = parseFloat("{{shoe.unitPrice}}") || 0; // Substitui pelo preço unitário

    // Atualiza o preço automaticamente ao alterar a quantidade
    quantityInput.addEventListener("input", () => {
        const quantity = parseInt(quantityInput.value) || 0; // Quantidade digitada

        if (quantity > 0) {
            // Calcula o novo preço total
            const newPrice = (unitPrice * quantity);
            priceInput.value = R$`${newPrice}`; // Atualiza o valor do campo de preço
        } else {
            priceInput.value = "R$ 0.00"; // Valor padrão se a quantidade for inválida
        }
    });
</script>
