  <!-- Seção principal de boas-vindas -->
    <main>
        <section class="welcome-section">
            <h2>Bem-vindo à Iannuzzi</h2>
            <p>Os melhores calçados para toda a família com conforto e estilo.</p>
        </section>
    </main>

    <!-- Contêiner de imagens de produtos -->
    <div class="container">
        <img src="/assets/principal_imgs/novidade.png" alt="Produto 1" class="imagem-produto">
        <img src="/assets/principal_imgs/promocao.png" alt="Produto 2" class="imagem-produto">
    </div>

    <!-- Seção de produtos -->
    <section class="produtos">
        <h2>Em destque</h2>
        
        <!-- Carrossel de produtos -->
        <div class="carrossel">
            <div class="card">
                <img src="/assets/feminino_imgs/mocassim_bege.webp" alt="mocassim_bege">
                <h3>Mocassim (Bege)</h3>
                <p>R$ 169,90</p>
            </div>
            <div class="card">
                <img src="/assets/feminino_imgs/sandalia_plataforma_tratorada_preta.jpg" alt="sandalia_plataforma_tratorada_preta">
                <h3>Sandalia Plataforma Tratorada (Preto)</h3>
                <p>R$ 189,90</p>
            </div>
            <div class="card">
                <img src="/assets/feminino_imgs/scarpin_branco.jpg" alt="scarpin_branco">
                <h3>Scarpin (Branco)</h3>
                <p>R$ 99,99</p>
            </div>
            <div class="card">
                <img src="/assets/masculino_imgs/bota_cinza.jpg" alt="bota_cinza">
                <h3>Bota Zeus (Cinza)</h3>
                <p>R$ 199,99</p>
            </div>
        </div>
    </section><br>

    <!-- Seção adicional de produtos -->
    <section class="produtos">
        <div class="carrossel">
            <div class="card">
                <img src="/assets/feminino_imgs/mocassim_branco.webp" alt="mocassim_preto">
                <h3>Mocassim (Branco)</h3>
                <p>R$ 139,90</p>
            </div>
            <div class="card">
                <img src="/assets/masculino_imgs/rider_branca.jpg" alt="rider_branca">
                <h3>Chinelo (Branco)</h3>
                <p>R$ 189,90</p>
            </div>
            <div class="card">
                <img src="/assets/feminino_imgs/sandalia_plataforma_tratorada_bege.webp" alt="sandalia_plataforma_tratorada_bege">
                <h3>Sandalia Plataforma Tratorada (Branco)</h3>
                <p>R$ 89,99</p>
            </div>
            <div class="card">
                <img src="/assets/feminino_imgs/sapatilha_preta.webp" alt="sapatilha_preta">
                <h3>Sapatilha (Preto)</h3>
                <p>R$ 59,99</p>
            </div>
        </div>
    </section><br>

    <!-- Outra seção de produtos -->
    <section class="produtos">
        <div class="carrossel">
            <div class="card">
                <img src="/assets/masculino_imgs/pantufa_azul.jpg" alt="pantufa_azul">
                <h3>Pantufa (Azul)</h3>
                <p>R$ 69,90</p>
            </div>
            <div class="card">
                <img src="/assets/masculino_imgs/social_preto2.jpg" alt="social_preto2">
                <h3>Sapato Social (Preto)</h3>
                <p>R$ 189,90</p>
            </div>
            <div class="card">
                <img src="/assets/masculino_imgs/rider_azul.jpg" alt="rider_azul">
                <h3>Rider (Azul)</h3>
                <p>R$ 99,99</p>
            </div>
            <div class="card">
                <img src="/assets/masculino_imgs/tenisolympikus_cinza.webp" alt="tenisolympikus_cinza">
                <h3>Tênis (Cinza)</h3>
                <p>R$ 179,00</p>
            </div>
        </div>
    </section>

  <div class="container-add-recent">
      <h2>Adicionados recentemente</h2>
      <ul class="fields">
        {{#each shoes}}
          <li data-id="{{this._id}}">
              <label>{{this.name}}</label>
              <label>{{this.gender}}</label>
              <label>{{this.size}}</label>
              <label>{{this.color}}</label>
              <label>{{this.brand}}</label>
              <label>{{this.price}}</label>
              <label>{{this.quantity}}</label>
              <label>{{this.category.name}}</label>
            </li>
        {{/each}}
      </ul>
  </div>
<section class="footer">
  <p>Aqui você vendedor pode adicionar novos calçados:</p>
  <button class="btn-adicionar" onclick="window.location.href='/ShoesSystem/addCalcado'">Adicionar calçado</button>
</section>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const shoeItems = document.querySelectorAll(".fields li");
  
    shoeItems.forEach(item => {
      item.addEventListener("click", () => {
        const shoeId = item.getAttribute("data-id");
        if (shoeId) {
          window.location.href = `/ShoesSystem/calcado/${shoeId}`;
        } else {
          console.error("ID do calçado não encontrado.");
        }
      });
    });
  });
</script>