<div class="container-inical">    
  <header>
    <h1>Foot Couture</h1>
    <h2>Organize aqui seus calçados!</h2>
  </header>
  
  <section>
    <h2>Sobre este site</h2>
    <p>Bem-vindo ao nosso sistema de gestão de estoque de calçados! Este site foi desenvolvido pensando em você, oferecendo uma experiência simples e intuitiva para gerenciar seu inventário. Adicione, atualize e remova produtos com facilidade, mantendo seu estoque sempre organizado.
    Com design prático e funcionalidades otimizadas, acompanhe a movimentação do estoque e melhore a gestão, garantindo mais agilidade. Simplifique sua rotina e tenha controle total da sua loja!</p>
  </section>
</div>

<main>
  <div class="container-add-recent">
      <h2>Adicionados recentemente</h2>
      <ul class="fields">
        {{#each shoes}}
          <li>
              <label>{{this.name}}</label>
              <label>{{this.gender}}</label>
              <label>{{this.size}}</label>
              <label>{{this.color}}</label>
              <label>{{this.brand}}</label>
              <label>{{this.price}}</label>
              <label>{{this.quantity}}</label>
              <label>{{this.category.name}}</label>
            </li>
        {{/each}}
      </ul>
  </div>
</main>